body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;

}

p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
    
}


.buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#rock{
    background-color: red;
}
#paper{
     background-color: rgb(70, 149, 175);
}
#scissors{
    background-color: greenyellow;
}

#user-score{
    color: lightseagreen;
}
#computer-score{
    color:red;
}